---
title: "\"[New] 2024 Approved  In-Depth GoPro Hero5 Testing Report\""
date: 2024-07-13T22:28:21.073Z
updated: 2024-07-14T22:28:21.073Z
tags: 
  - screen-recording
  - ai video
  - ai audio
  - ai auto
categories: 
  - ai
  - screen
description: "\"This Article Describes [New] 2024 Approved: In-Depth GoPro Hero5 Testing Report\""
excerpt: "\"This Article Describes [New] 2024 Approved: In-Depth GoPro Hero5 Testing Report\""
keywords: "GoPro Hero5 Review,Hero5 Camera Test,Hero5 Performance,GoPro Hero5 Analysis,Hero5 Waterproof Testing,GoPro Hero5 Features,Hero5 Video Quality"
thumbnail: https://thmb.techidaily.com/a8b16314a41e8185a53e16911a8cd83652896b6771ffcd18a8d5ccdaa894f672.jpg
---

## In-Depth GoPro Hero5 Testing Report

# GoPro Hero5 Session Review

![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

##### Max Wales

 Mar 27, 2024• Proven solutions

 If you are in search of action cameras then [GoPro](https://tools.techidaily.com/wondershare/filmora/download/) is best brand for you. It offers high tech cameras with all amazing features and variable price ranges so you can easily find one that suits your needs. GoPro Hero5 Session camera is rated as one of the best devices with reasonable price range; so it is good to check few awesome details about this device.

 Want to know which GoPro to buy? Here is a [complete comparison >>](https://tools.techidaily.com/wondershare/filmora/download/)

**You may also like:** [Top 15 Best Action Cameras >>](https://tools.techidaily.com/wondershare/filmora/download/)

 It is a light weight, small size device with cube shape design that can shoot highly stabilized videos even with 4k resolution. With payment of $299.99, you can avail 4k recording abilities along 1080p at 90fps, 720p at 120fps. If this device is little above then your budget then you can also look for [GoPro Hero4 session](https://tools.techidaily.com/wondershare/filmora/download/) that is the previous version and will be priced $100 less than that of Hero5 session. If your budget is on higher side then prefer to buy [Hero5 Black](https://tools.techidaily.com/wondershare/filmora/download/) that is priced at $399.99 with all amazing features.

 See [Hero Session 5 VS Hero Session 4 >>.](https://tools.techidaily.com/wondershare/filmora/download/)

[For most of action camera lovers Hero5 session will be the best choice so below you will get some of the essential details about your favorite device:](https://tools.techidaily.com/wondershare/filmora/download/)

## Specs Table:

| **Product Name**                                                            | GoPro Hero5 Session                                                    |                      |                             |
| --------------------------------------------------------------------------- | ---------------------------------------------------------------------- | -------------------- | --------------------------- |
| **Manufacture**                                                             | GoPro (USA)                                                            |                      |                             |
| **Date available**                                                          | 2 October 2016                                                         |                      |                             |
| **Price:**                                                                  | Official:$299                                                          |                      |                             |
| **Basic Specification**                                                     |                                                                        |                      |                             |
| **Parameters**                                                              | **Details**                                                            | **Parameters**       | **Details**                 |
| **Weight**                                                                  | 73g only                                                               | **Shape**            | Box                         |
| **Memory**                                                                  | SDXC cards with 128GB storage and Micro SD (Class 10)                  | **Dimensions**       | 38x38x36mm                  |
| **Battery**                                                                 | 1000mAh (with 4K resolution it offers 1 hour 40 minute recording time) | **Waterproof**       | 10 meters (without housing) |
| **Image resolution**                                                        | Up to 10mp                                                             | **Video resolution** | Up to 4k at30fps            |
| **Display**                                                                 | No                                                                     | **Modes**            | WIFI and Bluetooth          |
| **Other Features**                                                          | Voice Control                                                          |                      |                             |
| Advanced Digital video stabilization                                        |                                                                        |                      |                             |
| Simple one-button type control                                              |                                                                        |                      |                             |
| ultra wide, Super view, narrow, medium as well as new linear field of views |                                                                        |                      |                             |
| Advanced reduction capability towards wind-noise                            |                                                                        |                      |                             |
| Auto image rotation facility                                                |                                                                        |                      |                             |
| Auto low-light mode available                                               |                                                                        |                      |                             |
| Time lapse video can be generated                                           |                                                                        |                      |                             |

<!-- affiliate ads begin -->
<a href="https://lightailing.sjv.io/c/5597632/1638364/17190" target="_top" id="1638364"><img src="//a.impactradius-go.com/display-ad/17190-1638364" border="0" alt="" width="1280" height="720"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1638364/17190" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## Pros and Cons:

| **Pros**                                              | **Cons**                               |
| ----------------------------------------------------- | -------------------------------------- |
| Voice commands show amazing results                   | No RAW or WDR support for still images |
| Excellent video quality                               | Non-removable type battery             |
| Advanced Digital image stabilization feature included | GPS facility is not available          |
| Sensitive dual microphones are available              | No viewfinder                          |
| Waterproof (10m without case)                         | \-                                     |
| Compact size                                          | \-                                     |

<!-- affiliate ads begin -->
<a href="https://imp.i357552.net/c/5597632/863039/11832" target="_top" id="863039"><img src="//a.impactradius-go.com/display-ad/11832-863039" border="0" alt="" width="300" height="250"/></a>
<!-- affiliate ads end -->
## Complete Review

#### What is inside the Box?

[If you are ready to buy GoPro Hero5 session Camera then you can expect following things with your device when you will unbox it:](https://tools.techidaily.com/wondershare/filmora/download/)

* [The box will have one standard frame.](https://tools.techidaily.com/wondershare/filmora/download/)
* [It comes with flat as well as curved adhesive mounts that allows users to capture scenes in all difficult locations.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Mounting Buckle will be included.](https://tools.techidaily.com/wondershare/filmora/download/)
* [USB-C cable is added.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Some video samples will be available.](https://tools.techidaily.com/wondershare/filmora/download/)

[Check at Amazon](https://www.amazon.com/gp/product/B01LZTLCFX/ref=as%5Fli%5Ftl?ie=UTF8&tag=vs-flora-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01LZTLCFX&linkId=ea1830f57bf7ee4f930b77258f8b3654)

#### Design and Accessories

 The highlights related to design and accessories can be presented as:

* 38mm or 1.5” cube shaped design helps users in obstructive mounting.
* This device provides impressive results when connected to GoPro Karma Drone.
* It is waterproof up to 10m or 33 feet.
* USB-C charging facility is available but battery is fixed.

 The GoPro camera units are well known for their well shaped rectangular design but this session camera was launched with attractive cube shape. With just a single easy to operate button you can easily start and stop recording whereas tiny LCD panel helps to view recording on the go. This structure is less complicated and users can even change settings to preferable mode from Android or iOS device.

#### Video and Photo Quality

 Few highlights are:

* It serves with 4K resolution for videos.
* This device is designed with total five fields of view where 3 of these are introductory.
* 10MP stills can be captured at 30fps frame rate.

 With all pretty features, GoPro Hero5 Session provides 4K resolutions at 30fps rate whereas this rate can be increased up to 90fps in case of 1080p recording. You will be glad to know about its advanced digital stabilization feature and the most exciting part is its vibration mode that gets automatically switched On when you are about the start the camera or when you switch recording Off. You can also switch off the vibrations at the time of video recording to capture much smoother details. Even if you want to capture videos while riding a cycle then also this camera can result in breathtaking view because it possesses advanced wind noise reduction ability.

 Users are excited about its several field of view modes that are: Medium, Wide, Narrow, Linear and Super view. You will be surprised to know that this small camera unit can record videos in super view mode so that you can avail extra wide coverage. One more appreciable feature is its low light video shooting mode that can provide satisfactory results with perfect video quality support.

#### Connectivity and Apps

 Some of the incredible connectivity options along with app supports are discussed as below:

 **Wi-Fi:**

 This latest camera from GoPro is designed to serve users with active Wi-Fi and Bluetooth support. Users can also connect it with iOS and Android device using GoPro Capture Application that activates remote control feature. With this type of connectivity you can also adjust camera settings directly from your phone that means a live view of camera screen will be generated on your mobile device.

 **GoPro Plus:**

 This name is given to a latest cloud based subscription of GoPro series so that users can publish their recorded videos directly on internet. Whenever you plug-in your Hero5 devices whether it is session or black, this cloud based application will allow you to access photo or video uploading facility instantly. It makes use of Home Wi-Fi network to enable this uploading. After this your footage will get stored on GoPro Plus account and it can be easily accessed from official website of GoPro. These uploaded videos will also be accessible on mobile devices as well as on desktop with the help of Quick application.

 **Quick:**

 This application is designed for Mobile as well as desktop users and allows fast as well as efficient editing features for all recorded videos. Users simply need to select highlights and then they can be easily edited to embed music into them or just to cut or trim to match certain timing requirements. The content that is stored on GoPro Account can also be accessed from quick App on portable devices.

**Note** that Users can also try GoPro Plus application for two months without making any payment as manufacturers have provided a free trial version whereas for complete feature access you need to pay $5 per month.

<!-- affiliate ads begin -->
<a href="https://appsumo.8odi.net/c/5597632/2068411/7443" target="_top" id="2068411"><img src="//a.impactradius-go.com/display-ad/7443-2068411" border="0" alt="" width="1200" height="600"/></a><img height="0" width="0" src="https://appsumo.8odi.net/i/5597632/2068411/7443" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## The Bottom Line

 Some of you may say that GroPro Hero5 Session is not having all fancy features but it is one of the most widely purchases action camera unit in market. This is simply the best device at reasonable price range and the video as well as image quality is amazing. The cube shape of this device is really attractive with tiny body that you can carry anywhere with ease. It is time to order your Hero5 session device online and soon you will be able to record your all adventurous trips with awesome capture quality. The waterproof and damage proof construction is itself an edge over all competing devices.

<!-- affiliate ads begin -->
<a href="https://vapordna.pxf.io/c/5597632/1496243/17238" target="_top" id="1496243"><img src="//a.impactradius-go.com/display-ad/17238-1496243" border="0" alt="" width="1000" height="1221"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1496243/17238" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

Max Wales

Max Wales is a writer and a lover of all things video.

Follow @Max Wales


<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>



<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>




<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://driver-install.techidaily.com/how-to-update-hdmi-driver-on-windows-11-11/"><u>How to Update HDMI Driver on Windows 11, 11</u></a></li>
<li><a href="https://smart-video-creator.techidaily.com/new-in-2024-pro-level-voice-overs-with-fcp-advance/"><u>New In 2024, Pro-Level Voice Overs with FCP Advance</u></a></li>
<li><a href="https://fox-http.techidaily.com/updated-android-tutorial-reversed-video-display/"><u>[Updated] Android Tutorial  Reversed Video Display</u></a></li>
<li><a href="https://fox-http.techidaily.com/new-melody-on-calls-the-complete-guide-to-downloading-and-editing-tamil-tracks/"><u>[New] Melody on Calls  The Complete Guide to Downloading & Editing Tamil Tracks</u></a></li>
<li><a href="https://digital-screen-recording.techidaily.com/updated-in-2024-the-ultimate-playlist-for-every-mood/"><u>[Updated] In 2024, The Ultimate Playlist for Every Mood</u></a></li>
<li><a href="https://extra-tips.techidaily.com/learn-how-to-assemble-memories-with-iphone-images/"><u>Learn How to Assemble Memories with iPhone Images</u></a></li>
<li><a href="https://fox-http.techidaily.com/new-in-2024-tips-for-engaging-video-blog-storytelling/"><u>[New] In 2024, Tips for Engaging Video Blog Storytelling</u></a></li>
<li><a href="https://fox-http.techidaily.com/perfecting-text-in-after-effects-the-best-10-for-2024/"><u>Perfecting Text in After Effects  The Best 10 for 2024</u></a></li>
<li><a href="https://location-social.techidaily.com/how-to-activate-and-use-life360-ghost-mode-on-samsung-galaxy-s23-fe-drfone-by-drfone-virtual-android/"><u>How To Activate and Use Life360 Ghost Mode On Samsung Galaxy S23 FE | Dr.fone</u></a></li>
<li><a href="https://fox-info.techidaily.com/gopro-hero-vs-yi-4k-which-takes-the-prize-in-latest-tech-for-2024/"><u>GoPro Hero Vs. Yi 4K  Which Takes the Prize in Latest Tech for 2024</u></a></li>
<li><a href="https://fox-http.techidaily.com/new-integrate-video-content-for-playlist-building-for-2024/"><u>[New] Integrate Video Content for Playlist Building for 2024</u></a></li>
<li><a href="https://instagram-clips.techidaily.com/new-in-2024-in-depth-look-at-instagrams-video-time-restrictions/"><u>[New] In 2024, In-Depth Look at Instagram's Video Time Restrictions</u></a></li>
<li><a href="https://android-location.techidaily.com/in-2024-fake-android-location-without-rooting-for-your-motorola-moto-g84-5g-drfone-by-drfone-virtual/"><u>In 2024, Fake Android Location without Rooting For Your Motorola Moto G84 5G | Dr.fone</u></a></li>
<li><a href="https://digital-screen-recording.techidaily.com/agriculture-pals-top-10-friendly-farm-games-for-2024/"><u>Agriculture Pals  Top 10 Friendly Farm Games for 2024</u></a></li>
<li><a href="https://fox-http.techidaily.com/smartphone-lighting-kits-for-improved-footage-for-2024/"><u>Smartphone Lighting Kits for Improved Footage for 2024</u></a></li>
<li><a href="https://fox-http.techidaily.com/updated-2024-approved-discover-the-top-11-kid-videography-gear-for-initial-use/"><u>[Updated] 2024 Approved  Discover the Top 11 Kid Videography Gear for Initial Use</u></a></li>
<li><a href="https://fox-http.techidaily.com/removing-vibration-effects-from-drones-recordings/"><u>Removing Vibration Effects From Drones' Recordings</u></a></li>
<li><a href="https://desktop-recording.techidaily.com/updated-proven-strategies-for-saving-your-digital-discussions-google-meets-for-2024/"><u>[Updated] Proven Strategies for Saving Your Digital Discussions (Google Meets) for 2024</u></a></li>
<li><a href="https://techidaily.com/solutions-to-restore-deleted-files-from-poco-by-fonelab-android-recover-data/"><u>Solutions to restore deleted files from Poco</u></a></li>
<li><a href="https://fox-http.techidaily.com/updated-finding-and-obtaining-free-image-frame-content-for-2024/"><u>[Updated] Finding and Obtaining Free Image Frame Content for 2024</u></a></li>
<li><a href="https://win11.techidaily.com/quick-guide-to-restoring-previous-windows-configurations/"><u>Quick Guide to Restoring Previous Windows Configurations</u></a></li>
<li><a href="https://fox-http.techidaily.com/new-in-2024-breakdown-of-successful-podcast-writing-techniques-examples-included/"><u>[New] In 2024, Breakdown of Successful Podcast Writing Techniques (Examples Included)</u></a></li>
<li><a href="https://fox-http.techidaily.com/updated-advanced-tips-for-effective-chroma-keying-in-kinemaster/"><u>[Updated] Advanced Tips for Effective Chroma Keying in KineMaster</u></a></li>
<li><a href="https://instagram-videos.techidaily.com/new-in-2024-igtv-unveiled-5-essential-downloads-for-mobile-devices/"><u>[New] In 2024, IGTV Unveiled  5 Essential Downloads for Mobile Devices</u></a></li>
<li><a href="https://youtube-webster.techidaily.com/024-approved-becoming-a-wise-trader-top-video-tutorials/"><u>[New] 2024 Approved  Becoming a Wise Trader  Top Video Tutorials</u></a></li>
<li><a href="https://on-screen-recording.techidaily.com/new-free-hd-video-capture-tools-the-complete-review-for-2024/"><u>[New] Free HD Video Capture Tools  The Complete Review for 2024</u></a></li>
<li><a href="https://fox-http.techidaily.com/new-2024-approved-unlock-iphone-editing-magic-shorter-smaller-videos/"><u>[New] 2024 Approved  Unlock iPhone Editing Magic  Shorter, Smaller Videos</u></a></li>
<li><a href="https://fox-http.techidaily.com/new-in-2024-unlocking-the-potential-of-phantoms-reversed-footage/"><u>[New] In 2024, Unlocking the Potential of Phantom's Reversed Footage</u></a></li>
<li><a href="https://fox-http.techidaily.com/new-liberate-yourself-with-free-movie-player-software/"><u>[New] Liberate Yourself with FREE MOVIE PLAYER Software</u></a></li>
<li><a href="https://facebook.techidaily.com/discovering-which-platform-delivers-the-deeper-digital-community/"><u>Discovering Which Platform Delivers the Deeper Digital Community</u></a></li>
<li><a href="https://change-location.techidaily.com/will-pokemon-go-ban-the-account-if-you-use-pgsharp-on-samsung-galaxy-m34-5g-drfone-by-drfone-virtual-android/"><u>Will Pokémon Go Ban the Account if You Use PGSharp On Samsung Galaxy M34 5G | Dr.fone</u></a></li>
<li><a href="https://fox-http.techidaily.com/new-stability-secrets-for-dynamic-photo-shoots-for-2024/"><u>[New] Stability Secrets for Dynamic Photo Shoots for 2024</u></a></li>
<li><a href="https://facebook-record-videos.techidaily.com/updated-enhance-your-profile-with-free-imagery-for-2024/"><u>[Updated] Enhance Your Profile with Free Imagery for 2024</u></a></li>
<li><a href="https://fox-http.techidaily.com/new-in-2024-hearing-heroism-essential-online-picks-for-tts-files/"><u>[New] In 2024, Hearing Heroism  Essential Online Picks for TTS Files</u></a></li>
<li><a href="https://extra-guidance.techidaily.com/revolutionize-chromebooks-tone-with-our-essential-list-of-extensions-for-2024/"><u>Revolutionize Chromebook's Tone with Our Essential List of Extensions for 2024</u></a></li>
<li><a href="https://fox-http.techidaily.com/updated-2024-approved-delving-into-magix-photo-organizer/"><u>[Updated] 2024 Approved  Delving Into MAGIX Photo Organizer</u></a></li>
<li><a href="https://fox-http.techidaily.com/new-in-2024-leading-10-lenses-revolutionizing-photography/"><u>[New] In 2024, Leading 10 Lenses Revolutionizing Photography</u></a></li>
<li><a href="https://fox-http.techidaily.com/new-in-2024-meme-masterpieces-perfect-jokes-for-each-moment/"><u>[New] In 2024, Meme Masterpieces  Perfect Jokes for Each Moment</u></a></li>
<li><a href="https://fox-http.techidaily.com/updated-in-2024-effortless-artistry-convert-photographs-to-cartoon-characters/"><u>[Updated] In 2024, Effortless Artistry  Convert Photographs to Cartoon Characters</u></a></li>
<li><a href="https://fox-http.techidaily.com/new-in-2024-the-ultimate-guide-to-vivacuts-video-editing-features/"><u>[New] In 2024, The Ultimate Guide to VivaCut's Video Editing Features</u></a></li>
<li><a href="https://fox-http.techidaily.com/updated-2024-approved-optimal-display-technologies-srgb-over-rgb/"><u>[Updated] 2024 Approved  Optimal Display Technologies  Srgb over Rgb</u></a></li>
<li><a href="https://some-guidance.techidaily.com/in-2024-swift-upload-of-sizeable-videos-from-iphone-to-mac-desktop/"><u>In 2024, Swift Upload of Sizeable Videos From iPhone to Mac Desktop</u></a></li>
<li><a href="https://sound-optimizing.techidaily.com/new-in-2024-a-beginners-guide-to-choose-rap-background-music/"><u>New In 2024, A Beginners Guide to Choose Rap Background Music</u></a></li>
<li><a href="https://facebook-record-videos.techidaily.com/unveil-8-reliable-video-promotion-services-for-2024/"><u>Unveil 8 Reliable Video Promotion Services for 2024</u></a></li>
<li><a href="https://fox-http.techidaily.com/updated-blades-visual-journey-from-standard-to-stunning-4k-for-2024/"><u>[Updated] Blade's Visual Journey  From Standard to Stunning 4K for 2024</u></a></li>
<li><a href="https://screen-sharing-recording.techidaily.com/2024-approved-native-chrome-os-screen-snapper/"><u>2024 Approved  Native Chrome OS Screen Snapper</u></a></li>
</ul></div>
